[uptimeRobot]
UptimeRobotMainApiKey = your-api-key

[cachet]
CachetApiKey = cachet-api-key
CachetUrl = https://status.mycompany.com

[uptimeRobotMonitorID1]
ComponentId = 1

[uptimeRobotMonitorID2]
CachetApiKey = cachet-api-key
CachetUrl = https://status2.mycompany.com
MetricId = 1
ComponentId = 2

[uptimeRobotMonitorID3]
MetricId = 2
ComponentId = 3

[uptimeRobotMonitorID4]
MetricId = 3
